@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Nunito';
    font-size: 18px;
    line-height: 1.5em;
    background-color:antiquewhite;
  }
 header {
  padding: auto;
  width: 100%;
  margin-bottom: 50px;
 }
 .navbar-brand {
  display: flex;
  justify-content:flex-end;
 }
 #logo {
  width: 10%;
  padding: auto;
 }
  #nombre{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
 }
 
#fotocv {
    display: flex;
    flex-direction: row-reverse;
    width: 400px;
    height: auto;
    object-fit: cover;
  }
.img-fluid {
  border-radius:20px;
  }
.fila {
  margin: 100px;
  text-align:justify;
}
  .redes {
    display: flex;
    flex-direction: row;
    justify-content:center;
  }
  a:hover {
    opacity: 0.5;
  }
  h1 {
    color: #0d6dfde8;
  }
 h4 {
  display: flex;
  justify-content: center;
  color: #0d6dfde8;
   
}
.column ul{
  list-style-type:none;
}
.instituto {
  color: #0d6efd;
  margin: 10px;
}
#column2 {
  padding-right: 30px;
}
.container-list {
  margin-top: 90px;
  margin-bottom: 30px;
  box-shadow: 0;
} 
.bg-1 {
      background:white;
      max-width: 100%;
      opacity: 0.9;
    }
.container {
      max-width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
    }
h3 {
      color: #0d6efd;
    }
.row {
      border-radius: 20px;
      
    }
.button {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
.btn {
      display: flex;
      align-items: center;
    }
 footer {
  max-width: 100%;
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
 }


